<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="sZtLcSJB30-ttwJP2LbxJwUCPoiB_Bdw0kPgsFPEOnA" />
    <meta name="google-site-verification" content="qggKpFbHmCd8nb_2mw8f2WmYarIw7tJQT27Dz7ICA9U" />
    <meta name="naver-site-verification" content="b79f9ca921f4d1c2584ad42e0756fb38c0fc253d" />
    <meta property="og:url"  content="http://www.slowbut.com/" />
    <meta property="og:type"  content="website" />
    <meta property="og:image" content="/img/open.png" />
    <meta property="og:title" content="강아지상 닮은꼴"/>
    <meta property="og:description" content="나는 어떤 강아지 종을 닮았을까?"/>
    <meta name="description" content="나는 어떤 강아지 종을 닮았을까? 이미지를 올려 확인해보세요.">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>강아지상 닮은꼴</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<section class="mb-10per section">
    <div class="container container-custom">

        <div class="pt-10">

            <div id="chooseSection" class="mt-10per">
                <div class="mb-5">
                    <p class="title">나와 닮은 강아지는?</p>
                </div>

                <div class="text-center">
                    <img src="/img/dogs/open.png" alt="main image" style="width: 40vw;"/>
                </div>

                <div class="container file-upload">
                    <div class="image-upload-wrap mb-5">
                        <input id="imageFile" class="file-upload-input" type="file" name="file" accept="image/*"/>
                        <div class="drag-text">
                            <div class="pt-5">
                                <i class="bi bi-card-image display-1"></i>
                            </div>
                            <h3 class="mb-5 pb-5 pt-4  upload-text">
                                사진을 올려놓거나<br/>
                                눌러서 업로드하세요!
                            </h3>
                        </div>
                    </div>
                    <div>
                        <ins class="kakao_ad_area" style="display:none;"
                             data-ad-unit    = "DAN-jgeb1vgKkZcyFdcw"
                             data-ad-width   = "320"
                             data-ad-height  = "100"></ins>

                    </div>
                </div>
            </div>

            <div id="resultSection" class="hide">
                <div class="file-upload-content">
                    <div>
                        <div class="text-center">
                            <img class="mb-4" id="viewUploadImage" src="" alt="your image" style="min-width: 35%; width: 35%; max-width: 35%;"/>
                        </div>
                        <div class="text-center">
                            <img src="" id="resultImage" class="placeholder" alt="main image" style="min-width: 35%; width: 35%; max-width: 35%;"/>
                        </div>
                    </div>
                    <div class="mt-3">
                        <hr style="display: inline-block; width: 15vw;"/>
                        <span id="resultText" class="display-2 fw-bold"></span>
                        <hr style="display: inline-block; width: 15vw;"/>
                    </div>

                </div>
                <div class="mt-5 px-5">
                    <span id="resultDescription" class="display-6 subtitle"></span>
                </div>

                <div class="file-upload-content">
                    <div class="mt-3">
                        <button id="btnReplay" type="button" class="btn btn-outline-primary btn-lg">
                            <i class="bi bi-arrow-clockwise"></i>
                            재시도
                        </button>
                    </div>
                </div>

                <div id="resultAd" class="text-center mt-5">
                    <ins class="kakao_ad_area" style="display:none;"
                         data-ad-unit    = "DAN-QVYOSYWfyFtq4isI"
                         data-ad-width   = "300"
                         data-ad-height  = "250"></ins>
                </div>

            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">도움말</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-0">
                        <div class="p-4">
                            <div class="d-inline-flex justify-content-center">
                                <img src="/img/help.png" alt="도움말 이미지" style="width: 50%"/>
                            </div>
                            <div class="mt-3">
                                <p class="h5">
                                    # 강아지상 닮은꼴 찾기를 이용해주셔서 감사합니다.
                                </p>
                                <p class="h5">
                                    # 얼굴 정면 사진을 올려주시는게 정확합니다.
                                </p>
                                <p class="h5">
                                    # 여러 사진을 올려 확인해보세요!
                                </p>
                            </div>
                        </div>
                        <ins class="kakao_ad_area" style="display:none;"
                             data-ad-unit    = "DAN-hPRcGkeit0kA534P"
                             data-ad-width   = "320"
                             data-ad-height  = "50"></ins>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<footer class="text-center text-white position-relative">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © SlowBut 2022. All Rights Reserved.
    </div>
</footer>


<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6F094V20W6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6F094V20W6');
</script>


<script type="text/javascript">

    $(function() {
        dogs.init();
    });

    const description = {
        "사모예드": "사모예드를 닮은 당신, 얼굴형이 갸름하고 눈이 맑으며 영리하고 독립적인 성향을 가지고 있으나 때로는 엉뚱한 행동을 하는 귀여운 성격을 가지셨군요?",
        "치와와": "치와와을 닮은 당신, 눈이 맑으며 얼굴이 작아 주위의 부러움을 가지고 있으며 용감하며 강인한 행동을 보여주고 있으나 때로는 친한 사람에게는 정을 많이주는 성격을 가지셨군요?",
        "그레이하운드": "그레이하운드를 닮은 당신, 콧대와 얼굴의 이목구비가 뚜렷하며 기품있고 온화하나 때로는 놀기 좋아하는 활발한 면이 있군요?",
        "슈나우저": "슈나우저을 닮은 당신, 복실복실한 털과 귀여운 눈망울을 가지고있으며 사람들 사이에서 활발한 성격을 가지셨군요?",
        "바우와우": "바우와우를 닮은 당신, 개성이 넘치고 무한 체력과 엉뚱발랄함을 가진 성격이시군요?",
        "시추": "시추을 닮은 당신, 작고 귀여운 표정에 밝고 온화하며 느긋하며 주변사람들에게 인기가 많은 성격을 가지셨군요?",
        "말티즈": "말티즈을 닮은 당신, 활발하고 놀기를 좋아하며 주변사람의 마음을 감지할 수 있는 성격이시군요?",
        "시고르자브종": "시고르자브종을 닮은 당신,개성이 강하고, 새로운 환경적응 능력에 뛰어나며 어디를가도 사랑받는 성격이시군요?",
        "요크셔 테리어": "요크셔테리어을 닮은 당신,활기차고 혈기가 왕성하며 귀여우나 무시당하면 바로 돌변하는 성격이시군요?",
        "시베리안 허스키": "시베리안 허스키를 닮은 당신, 듬직고 온순하며 사교적이며 다른 사람들과 쉽게 친해지는 방법을 터특하셨군요?",
        "웰시코기": "웰시코기를 닮은 당신, 겁이 없고 적극적이며 호기심이 많아 뭐든지 적극적인 자세로 행동하는군요?",
        "시바견": "시바견을 닮은 당신, 활발하고 명랑하면서 최고의 눈웃음과 이성사이에 인기쟁이시군요?"
    }

    const dogs = {

        data: {
            model: ''
        },

        init: () => {
            dogs.showHelp();
            dogs.bind();
        },

        bind: () => {

            $('#imageFile').on('change', () => {
                dogs.displayLoading();

                if ($('#imageFile').prop('files') && $('#imageFile').prop('files')[0]) {
                    try {
                        dogs.uploadFile();
                    }
                    catch (e) {
                        console.error(e);
                    }
                    const reader = new FileReader();
                    reader.onload = async function(e) {
                        $('#viewUploadImage').attr('src', String(e.target.result));
                        await dogs.predict();
                    };
                    reader.readAsDataURL($('#imageFile').prop('files')[0]);
                }
            });

            $('#btnReplay').on('click', () => {
                location.reload();
            });

        },

        showHelp: () => {
            let helpModal = new bootstrap.Modal(document.getElementById('helpModal'));
            helpModal.show();
        },

        uploadFile: () => {

            const formData = new FormData();
            formData.append('file', $('#imageFile').prop('files')[0]);
            formData.append('serviceType', 'DOG');

            $.ajax({
                url: '/files/upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false
            }).done(function(data){
            });

        },

        teachableMachineInit: async () => {
            const URL = "https://teachablemachine.withgoogle.com/models/6BeZoKaFE/";
            const modelURL = URL + "model.json";
            const metadataURL = URL + "metadata.json";
            dogs.data.model = await tmImage.load(modelURL, metadataURL);
            dogs.removeLoading();
        },

        predict: async () => {
            await dogs.teachableMachineInit();
            const image = $("#viewUploadImage").get(0);
            const prediction = await dogs.data.model.predict(image, false);

            let maxIndex = -1;
            let maxValue = -1;
            let resultTxt = '';
            for (let i = 0; i < dogs.data.model.getTotalClasses(); i++) {

                if(maxValue < prediction[i].probability) {
                    maxValue = prediction[i].probability;
                    maxIndex = i;
                }

                resultTxt +=
                    prediction[i].className + " : " + prediction[i].probability.toFixed(2) + "<br/>";
            }


            $('#resultText').text(`${prediction[maxIndex].className}(${prediction[maxIndex].probability.toFixed(2) * 100}%)`);
            $("#resultDescription").html(description[prediction[maxIndex].className]);
            $("#resultImage").attr('src', `/img/dogs/${prediction[maxIndex].className}.jpeg`);
            $("#resultImage").removeClass('placeholder');

            dogs.changeSection();
            dogs.removeLoading();
        },

        changeSection: () => {

            $("#chooseSection").hide();
            $("#resultSection").show();
            dogs.refreshAdScript();
        },

        displayLoading: () => {

            $("body").append(`
                    <div id="loading" class="loading-wrap d-flex flex-column">
                        <div class="spinner-grow text-light" style="width: 10rem; height: 10rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="loading-text"><strong>Loading...</strong></div>
                    </div>
                    `);

        },

        removeLoading: () => {
            $("#loading").remove();
        },

        refreshAdScript: () => {
            const headTag = document.getElementsByTagName("head")[0];
            const newScript = document.createElement('script');
            newScript.type = 'text/javascript';
            newScript.src = '//t1.daumcdn.net/kas/static/ba.min.js';
            headTag.appendChild(newScript);
        }

    }
</script>
</body>
</html>
